<header>
    <!-- Navbar -->
    <nav class="navbar navbar-expand-lg border-bottom sticky-top">
        <div class="container">
            <a class="navbar-brand fw-bold text-white" href="#"><i class="bi bi-book"></i>
                <strong>JoyLeeBook</strong></a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav me-auto">
                    <li class="nav-item"><a class="nav-link  text-white" href="home.html">Home</a></li>
                    <li class="nav-item"><a class="nav-link text-white" href="genre.html">Genres</a></li>
                    <li class="nav-item"><a class="nav-link text-white" href="#">History</a></li>
                    <li class="nav-item"><a class="nav-link text-white" href="#">Library</a></li>
                </ul>
                <form class="d-flex me-3">
                    <input class="form-control me-2" type="search" placeholder="Search manga..." aria-label="Search">
                </form>
                <a class="btn me-2 login" href="#">LOGIN</a>
                <a class="btn signup " href="#">SIGN UP</a>
            </div>
        </div>
    </nav>
</header>